.file-browser-commander-view-wrap {
  background-color: $gray;
  display: flex;

  .file-browser-commander-panel-wrap {
    width: calc(50% - 8px);

    &:nth-child(odd) {margin-right: 8px}

    &:nth-child(even) {margin-left: 8px}
  }

  .commander-bookmarks-list {
    background-color: $gray;
    border-bottom: 1px solid $black;
    align-items: flex-end;
    display: flex;
    height: 30px;
    width: 100%;

    > li {
      cursor: pointer;
      padding: 4px 8px 2px 8px;
      position: relative;

      &.active {
        background-color: $white;
        border: 1px solid $dark;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: bold;
        min-width: 30px;
        padding-top: 8px;
        text-align: center;
      }
    }
  }

  .commander-file-list-wrap {
    background-color: $white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    height: 80vh;
    overflow: auto;

    .commander-file-list {
      user-select: none;
      width: 100%;

      thead {
        background-color: $white;
        position: sticky;
        top: 0;
        z-index: 2;
      }

      tfoot {
        background-color: $white;
        bottom: 0;
        position: sticky;
        z-index: 2;
      }

      tbody tr {
        &:nth-child(odd) {background-color: $gray}

        &.selected {background-color: $violet; color: $white}

        &.inserted {color: $red}
      }

      th {
        cursor: pointer;
        padding: 6px 24px 6px 6px;

        div {display: flex; flex-wrap: nowrap}

        .file-browser-icon {display: none; margin-left: 6px}

        &.active .file-browser-icon {display: block}
      }

      td {
        padding: 3px 6px;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
          padding: 3px;

          .file-browser-icon {margin: 0 6px 0 4px}

          div {
            overflow: hidden;
            text-overflow: fade;
            width: 320px;
          }
        }
      }
    }
  }

  .file-browser-commander-panel-wrap.active .commander-file-list-wrap {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
  }
}

.file-browser-commands-bar-wrap ul {
  border: 1px solid black;
  display: flex;

  li {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 14.285%;

    &:hover {background-color: $gray}
  }
}