.modal-wrap {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 10px;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  width: 50%;
  z-index: 1000;

  .modal-title {
    background-color: $dark;
    color: $white;
    padding: 10px;
    position: relative;
    text-align: center;

    > span {font-size: 16px; font-weight: bold}
  }

  .modal-close {
    align-items: center;
    border: 1px solid $gray;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;

    .file-browser-icon {background-color: $white}

    &:hover {
      background-color: $gray;

      .file-browser-icon {background-color: $black}
    }
  }

  .modal-body {padding: 15px}

  .modal-caption {
    font-size: 14px;
    max-height: 300px;
    overflow-y: auto;
  }

  .modal-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;

    button {
      background-color: $gray;
      border: 1px solid $dark;
      border-radius: 5px;
      cursor: pointer;
      padding: 8px 16px;

      &:hover {filter: brightness(1.1)}
    }
  }
}

.input-modal-wrap {
  .input-modal-text {
    margin: 5px 0;
    width: 100%;

    input {
      border-radius: 5px;
      padding: 8px;
      width: 100%;
    }
  }
}

.file-info-modal-wrap {
  .file-info-properties td {padding: 5px 20px}

  .file-info-properties td:first-child {text-align: right}

  .file-info-properties .file-browser-icon {height: 30px; width: 30px}
}

.file-queue-modal {
  background-color: $gray;

 .file-queue-modal-list {
   margin-top: 10px;
   max-height: 400px;
   overflow-x: hidden;
   overflow-y: auto;

   li {
     align-items: center;
     background-color: $white;
     display: flex;
     justify-content: space-between;
     margin-bottom: 1px;

     .file-queue-modal-filename {
       font-size: 14px;
       padding: 6px 15px;
     }

     .file-queue-modal-progress {
       border: 1px solid $dark;
       position: relative;
       width: 120px;
     }

     .file-queue-modal-progress-bar {
       background-color: $violet;
       height: 20px;
     }

     .file-queue-modal-progress-text {
       font-size: 14px;
       line-height: 20px;
       position: absolute;
       right: 0;
       text-align: center;
       top: 0;
       width: 100%;
     }
   }
 }
}