.file-browser-tree-view-wrap {
  align-items: stretch;
  display: flex;
  min-height: 400px;

  .file-browser-tree-folder-list {
    min-width: 320px;
    overflow: auto;
    width: 30%;

    ul {
      padding: 10px;

      li {
        user-select: none;

        .folder-wrap {
          align-items: center;
          cursor: pointer;
          display: flex;
        }

        .file-name {margin-left: 10px}

        .close {display: block}

        .open {display: none}

        &.active {
          .close {display: none}

          .open {display: block}
        }
      }
    }
  }
}