.file-browser-icon {
  background-color: #000;
  display: inline-block;
  height: 20px;
  mask-position: 50%;
  mask-repeat: no-repeat;
  width: 20px;

  &.file-alt {mask-image: url("../icons/file-alt.svg")}

  &.file-archive {mask-image: url("../icons/file-archive.svg")}

  &.file-audio {mask-image: url("../icons/file-audio.svg")}

  &.file-cell {mask-image: url("../icons/file-spreadsheet.svg")}

  &.file-code {mask-image: url("../icons/file-code.svg")}

  &.file-database {mask-image: url("../icons/database.svg")}

  &.file-image {mask-image: url("../icons/file-image.svg")}

  &.file-pdf {mask-image: url("../icons/file-pdf.svg")}

  &.file-regular {mask-image: url("../icons/file.svg")}

  &.file-text {mask-image: url("../icons/text.svg")}

  &.file-video {mask-image: url("../icons/file-video.svg")}

  &.file-word {mask-image: url("../icons/file-word.svg")}

  &.folder-icon {mask-image: url("../icons/folder.svg")}

  &.list-view-icon {mask-image: url("../icons/list-view.svg")}

  &.refresh-icon {mask-image: url("../icons/refresh.svg")}

  &.select-all-icon {mask-image: url("../icons/select-all.svg")}

  &.side-by-side-view-icon {mask-image: url("../icons/two-panel.svg")}

  &.tree-view-icon {mask-image: url("../icons/tree-view.svg")}

  &.unselect-all-icon {mask-image: url("../icons/unselect-all.svg")}

  &.up-folder-icon {mask-image: url("../icons/arrow-up.svg")}
}